/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* https://jforj.tistory.com/173 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    position: relative;
    background-color: black;
}

/* navigator */
.navigator{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    font-family: 'Inter', sans-serif;
    padding: 2%;
    color: white;
    left: 0;
    right: 0;
    z-index: 1;
}

.navigator_lang{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20%;
    font-size: small;
    font-weight: 500;
}

.navigator_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20%;
    text-align: center;
}



.navigator_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10%;
    font-size: small;
    font-weight: 500;
}

.navigator_center img{
    width: 40%;
}

.navigator_contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 20%
}

.navigator_contact img{
    width: 25%;
}

/* 맨 위 슬라이더 */
.mainSlider{
    overflow: hidden;
    width: 100%;
}

.mainSlider_img{
    width: 100vw;
    height: 100vh;
    display: none;
    filter: brightness(0.5);
}

.mainSlider_img img{
    width: 100%;
}

/* 지역 사진 */

.region1{
    padding: 0 7% 0;
}

.region{
    display: flex;
    flex-direction: column;
    
}

.region h1{
    color : white;
    font-size: 7em;
    margin-bottom: 0;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    padding-left: 10%;
}

.region p{
    color : white;
    padding-left: 17%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.regionImg{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap : 3%;
    padding-right: 3%;
}

.regionImg img{
    width: 40%;
}

/* 사진세개붙어있는... */

.region2{
    padding: 0 7% 0;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    position:relative;
}

.region2 p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: white;
    position: absolute;
    left: 25%;
    bottom: 1%;
}
.introduction{
    text-align: center;
}
.introduction h1{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    padding-top: 7%;
    padding-bottom: 5%;
}

.introductionImg{
    text-align: center;
}
.introductionImg img{
    width: 50%;
    display: none;
    padding: 0 25% 0;
}

/* 사계절 */
.season{
    padding: 0 7% 0;
    display: flex;
    flex-direction: column;
}

.seasonTitle{
    display: flex;
    flex-direction: row;
    color : white;
    font-size: 4em;
    margin-bottom: 0;
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    text-align: center;
}

.arrow-prev,
.arrow-next {
    position: relative;
    float:left;
    width:100px;
    height:100px;
    margin-right:5px;
}

.arrow-prev::after {
    position: absolute;
    left: 35px; 
    top: 42px;
    content: '';
    width: 50px; /* 사이즈 */
    height: 50px; /* 사이즈 */
    border-top: 1px solid rgb(255, 255, 255);; /* 선 두께 */
    border-right: 1px solid rgb(255, 255, 255);; /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
}

.arrow-next::after {
    position: absolute;
    left: 10px; 
    top: 42px; 
    content: '';
    width: 50px; /* 사이즈 */
    height: 50px; /* 사이즈 */
    border-top: 1px solid rgb(255, 255, 255);; /* 선 두께 */
    border-right: 1px solid rgb(255, 255, 255);; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}

.seasonTitle h1{
    display: none;
    margin: 0;
    width:40%
}

.seasonWrapper {
    margin: 3% 10% 5% 10%;
    display: none;
}

.seasonImg {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.fall0,
.spring0,
.summer0 {
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.fall1,
.fall2,
.spring1,
.spring2,
.summer1 {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.fall1,
.spring1,
.summer0 > img{
    width: 46%;
    
}

.fall2,
.spring2,
.summer1 {
    width: 51%;
}

/* footer */
footer > p {
    color: white;
    width: 10%;
    margin-left: 80%;
    font-family: 'Playfair Display', serif;
}
hr {
    width: 70%;
}

.Wrapper{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 13%;
    align-items: center;
    padding: 3% 15% 3%;
}

footer h6{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: small;
    font-weight: 600;
    margin-bottom: 2%;
}

.Wrapper p {
    font-family: 'Inter', sans-serif;
    color: white;
    margin-top: 1%;
    font-weight: 100;
}

.footerContact{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerContact > img{
    width: 50%;
}

.footerContactImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 2%
}

.footerContactImg img{
    width: 3.5%;
}

.call h6{
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    font-size: small;
}